# .env
# .env: 環境變數設定 (DO NOT COMMIT SENSITIVE DATA TO VERSION CONTROL!)
# =================================================
# DO NOT COMMIT YOUR .env FILE TO VERSION CONTROL!
# =================================================


# --------------------------------
# --- IBKR Connection Settings ---
# --------------------------------
# IBKR TWS/Gateway IP address (str)
IB_SETTINGS_HOST=localhost
# 您的 IBKR 賬戶代碼 (str)
IB_SETTINGS_ACCOUNT="DU123456"

# ------------------------------
# --- Email Alerter Settings ---
# ------------------------------
# 警報器發送郵箱 (str)
SMTP_SENDER_EMAIL="YOUR_SMTP_SENDER_EMAIL" 
# 警報器郵箱密碼 (重要: 請使用應用程式專用密碼或更安全的方式) (str)
SMTP_SENDER_PASSWORD="YOUR_SMTP_SENDER_PASSWORD" 
# 警報器接收郵箱 (str)
SMTP_RECEIVER_EMAIL="YOUR_SMTP_RECEIVER_EMAIL" 
# 您的 SMTP 服務器 (str)
SMTP_SERVER="YOUR_SMTP_SERVER"
# 您的 SMTP 埠號 (int)
SMTP_PORT=123


# ----------------
# --- API Keys ---
# ----------------
# FRED API Key (str)
FRED_API_KEY="YOUR_FRED_API_KEY"
# FMP API Key (str)
FMP_API_KEY="YOUR_FMP_API_KEY"
